TMDB_API_KEY=COLOQUE_SUA_API_KEY_OU_BEARER_TOKEN_AQUI

POSTGRES_DB=movies
POSTGRES_USER=app
POSTGRES_PASSWORD=app123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg2://app:app123@postgres:5432/movies

REDIS_URL=redis://redis:6379/0

FLASK_ENV=development
SECRET_KEY=dev-secret
POLL_INTERVAL_MS=30000

