TMDB_API_KEY=COLOQUE_SUA_API_KEY_OU_BEARER_TOKEN_AQUI

DATABASE_URL=postgresql+psycopg2://usuario:senha@seu-projeto.neon.tech/neondb?sslmode=require

REDIS_URL=rediss://default:SUA_SENHA_UPSTASH@seu-endpoint.upstash.io:6379

FLASK_ENV=development
SECRET_KEY=dev-secret-change-in-production
POLL_INTERVAL_MS=30000

